{% extends "::base.html.twig" %}

{% block body %}
{% if register == true %}
	<a href="{{ path('philemon_activity_unregister', {'activity_id': activity.id}) }}">Unregister</a>
{% else %}
	<a href="{{ path('philemon_activity_register', {'activity_id': activity.id}) }}">Register</a>
{% endif %}
<h1>{{ activity.name }}</h1>
<div class="highlight">
<h5>Description :</h5>
<p>
	{{ activity.description }}
</p>
</div>

{% endblock %}
