{% extends "::base.html.twig" %}

{% block body %}
<h1>Modules</h1>
<ul class="nav nav-list bs-docs-sidenav">
    {% for m in mods %}
	<li>
		<a href="{{ path('philemon_module_show', {'id': m.id}) }}">{{ m.name|e }}</a>
	</li>
    {% endfor %}
</ul>
{% endblock %}
